/* Light and Dark Mode Colors */
@media (prefers-color-scheme: dark) {
  :root {
    /* Greys */
    --grey-100: 210, 5%, 98%;
    --grey-200: 210, 5%, 95%;
    --grey-300: 210, 10%, 85%;
    --grey-400: 210, 12%, 70%;
    --grey-500: 210, 15%, 55%;
    --grey-600: 210, 18%, 40%;
    --grey-700: 210, 20%, 30%;
    --grey-800: 210, 25%, 20%;
    --grey-900: 210, 30%, 10%;
    --grey-1000: 210, 35%, 5%;

    /* Red */
    --red-100: 0, 100%, 95%;
    --red-200: 0, 90%, 75%;
    --red-300: 0, 80%, 65%;
    --red-400: 0, 80%, 50%;
    --red-500: 0, 80%, 45%;
    --red-600: 0, 80%, 45%;
    --red-700: 0, 80%, 45%;
    --red-800: 0, 80%, 35%;
    --red-900: 0, 80%, 25%;
    --red-1000: 0, 80%, 20%;

    /* Blue */
    --blue-100: 209, 100%, 85%;
    --blue-200: 210, 100%, 78%;
    --blue-300: 210, 100%, 72%;
    --blue-400: 210, 100%, 65%;
    --blue-500: 210, 100%, 59%;
    --blue-600: 210, 100%, 53%;
    --blue-700: 210, 100%, 46%;
    --blue-800: 210, 100%, 41%;
    --blue-900: 210, 100%, 34%;
    --blue-1000: 210, 100%, 28%;

    /* Oranges */

    --orange-100: 30, 100%, 95%;
    --orange-200: 30, 100%, 60%;
    --orange-300: 30, 100%, 50%;
    --orange-400: 30, 92%, 42%;
    --orange-500: 30, 60%, 58%;
    --orange-600: 30, 58%, 50%;
    --orange-700: 30, 46%, 51%;
    --orange-800: 30, 53%, 46%;
    --orange-900: 30, 52%, 42%;
    --orange-1000: 30, 77%, 27%;

    /* Greens */
    --green-100: 120, 100%, 95%;
    --green-200: 120, 100%, 70%;
    --green-300: 120, 100%, 40%;
    --green-400: 120, 95%, 35%;
    --green-500: 120, 90%, 30%;
    --green-600: 120, 100%, 25%;
    --green-700: 120, 100%, 20%;
    --green-800: 120, 100%, 15%;
    --green-900: 120, 100%, 10%;

    /* Neutrals */
    --neutral-100: 190, 10%, 100%;
    --neutral-200: 190, 10%, 96%;
    --neutral-300: 190, 10%, 92%;
    --neutral-400: 205, 10%, 88%;
    --neutral-500: 205, 10%, 86%;
    --neutral-600: 205, 10%, 82%;
    --neutral-700: 205, 10%, 78%;
    --neutral-800: 205, 10%, 74%;
    --neutral-900: 205, 10%, 70%;
    --neutral-1000: 205, 10%, 66%;
    --neutral-1100: 205, 10%, 62%;
    --neutral-1200: 205, 10%, 58%;
    --neutral-1300: 205, 10%, 54%;
    --neutral-1400: 205, 10%, 50%;
    --neutral-1500: 205, 10%, 46%;
    --neutral-1600: 205, 10%, 42%;
    --neutral-1700: 205, 10%, 38%;
    --neutral-1800: 205, 10%, 34%;
    --neutral-1900: 205, 5%, 30%;
    --neutral-2000: 205, 10%, 26%;

    /* Base Color for Background */
    --base-100: 210, 50%, 2%;
    --base-200: 207, 22%, 12%;
    --base-300: 210, 13%, 22%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --opacity: 1;
    /* Greys */
    /* --grey-100: hsla(210, 5%, 98%); */
    --grey-100: 210, 5%, 98%;
    --grey-200: 210, 8%, 90%;
    --grey-300: 210, 10%, 80%;
    --grey-400: 210, 12%, 70%;
    --grey-500: 210, 15%, 60%;
    --grey-600: 210, 10%, 50%;
    --grey-700: 210, 20%, 40%;
    --grey-800: 210, 22%, 30%;
    --grey-900: 210, 25%, 20%;
    --grey-1000: 210, 30%, 10%;

    --red-100: 0, 70%, 95%;
    --red-200: 0, 70%, 84%;
    --red-300: 0, 70%, 76%;
    --red-400: 0, 70%, 50%;
    --red-500: 0, 80%, 60%;
    --red-600: 0, 70%, 60%;
    --red-700: 0, 70%, 44%;
    --red-800: 0, 70%, 36%;
    --red-900: 0, 70%, 28%;
    --red-1000: 0, 70%, 20%;

    --blue-100: 209, 80%, 85%;
    --blue-200: 210, 80%, 79%;
    --blue-300: 210, 80%, 73%;
    --blue-400: 210, 80%, 67%;
    --blue-500: 210, 80%, 61%;
    --blue-600: 210, 80%, 55%;
    --blue-700: 210, 80%, 49%;
    --blue-800: 210, 80%, 43%;
    --blue-900: 210, 80%, 37%;
    --blue-1000: 210, 80%, 31%;

    /* Oranges */
    --orange-100: 30, 100%, 95%;
    --orange-200: 30, 100%, 85%;
    --orange-300: 30, 90%, 70%;
    --orange-400: 30, 85%, 60%;
    --orange-500: 30, 80%, 50%;
    --orange-600: 30, 75%, 40%;
    --orange-700: 30, 70%, 30%;
    --orange-800: 30, 65%, 25%;
    --orange-900: 30, 60%, 20%;
    --orange-1000: 30, 55%, 15%;

    /* Greens */
    /* --green-100: hsl(120, 100%, 95%); */
    --green-100: 120, 100%, 95%;
    --green-200: 120, 100%, 70%;
    --green-300: 120, 100%, 40%;
    --green-400: 120, 95%, 35%;
    --green-500: 120, 90%, 30%;
    --green-600: 120, 100%, 25%;
    --green-700: 120, 100%, 20%;
    --green-800: 120, 100%, 15%;
    --green-900: 120, 100%, 10%;

    /* Neutrals */
    --neutral-100: 205, 9%, 4%;
    --neutral-200: 205, 9%, 8%;
    --neutral-300: 205, 9%, 12%;
    --neutral-400: 205, 9%, 16%;
    --neutral-500: 205, 9%, 20%;
    --neutral-600: 205, 9%, 24%;
    --neutral-700: 205, 9%, 28%;
    --neutral-800: 205, 9%, 32%;
    --neutral-900: 205, 9%, 36%;
    --neutral-1000: 205, 9%, 40%;
    --neutral-1100: 205, 9%, 44%;
    --neutral-1200: 205, 9%, 48%;
    --neutral-1300: 205, 9%, 52%;
    --neutral-1400: 205, 9%, 56%;
    --neutral-1500: 205, 9%, 60%;
    --neutral-1600: 205, 9%, 64%;
    --neutral-1700: 205, 9%, 68%;
    --neutral-1800: 205, 9%, 80%;
    --neutral-1900: 205, 9%, 82%;
    --neutral-2000: 205, 9%, 90%;

    --base-100: 210, 22%, 100%;
    --base-200: 210, 15%, 95%;
    --base-300: 210, 8%, 90%;
  }
}

::selection {
  background-color: hsl(var(--orange-400));
  color: hsl(var(--orange-100));
}
